#toRoom {
  margin-left : 150px;
}
#toLobby {
  float: left;
}
#joinProcess_ul {
  border-style : solid;
  border-width : medium;
  width : 250px;
  height : 50px;
}

#joinProcess_ul:hover {
  border-color : red;
  color : blue;;
}
#joinProcess_ul:active {
  border-color : yellow;
  color : green;
        animation-name: border-focus;
        animation-duration: 1s;
        animation-fill-mode: forwards;
}

#joinProcess_ul:focus {

  background-color : yellow;
  border-color : black;
  border-style : double;
  outline:solid 5px blue;
}
