#icon {
  position : absolute;
  top : 20px;
  border-bottom : 2px dashed purple;
  border-right : 2px dashed purple;
  width : 185px;
  height : 47px;
  background-color : yellow;
}
#skills {
  position : absolute;
  top : 70px;
  width : 185px;
  height : 850px;

}

#alive {
  position : absolute;
  left : 210px;
  width : 795px;
  height : 40px;
  padding-top : 6px;
  padding-left : 10px;

  display : flex;
  align-items : center;
  font-size : 22px;
}
#nameSwitching {
  position : absolute;
  border: 15px solid black;
  top : 65px;
  left : 210px;
  width : 740px;
  height : 75px;
  padding : 15px;
  font-size : 20px;


}
#game_chatBox {
  position : absolute;

  top : 210px;
  left : 210px;
  width : 785px;
  height : 600px;

  overflow-y : scroll;
  padding-top : 10px;
  padding-left : 15px;
  font-size : 20px;
  background-color : black;
  color : white;
}
#radioBox {
  position : absolute;
  top : 830px;
  left : 205px;
  width : 800px;
  height : 35px;

  margin-top : 5px;
}
#game_typingBox {
  position : absolute;
  top : 875px;
  left : 210px;
  height : 40px;
}
#game_colorName {
  position : absolute;
  width : 35px;
  height : 35px;
  background-color : blue;
  font-size : 20px;

}
#game_colon {
  position : absolute;
  margin-top : 3px;
  left : 25px;
  height : 30px;
}

#game_msg {
  position : absolute;
  left : 50px;
  padding : 0;
  width : 700px;
  height : 30px;
}

#game_submit {
  left : 760px;
  position : absolute;
  height : 35px;

}
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
 /* Could be more or less, depending on screen size */
width: 200px;
height : 350px;
}
.close {
float : right;
}
